html {
font-family: 'Noto Serif', serif;
}

body {
    width: 70%;
    margin: 0 auto;
    background-color: #1F1F1E;
    color: #F2F4F8;
}

h1 {
    font-size: 1.75em;
    margin-top: 1em;

}

hr {
    width: 30%;
    float: left;
    display: block;
}

nav {
    margin: 1em 2em;
    height: 2em;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

nav a {
    width: 5em;
    height: 2em;
    text-decoration: none;
    text-align: center;
    color: #F2F4F8;
    font-family: Noto Sans, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#luke {
    width: 7em;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

.main-text {
    margin-top: 1em;
    font-family: Noto Sans, sans-serif;
    line-height: 1.5em;
}

footer {
    height: 5em;
    background-color: #0000;
}